/*----Variables y fuentes----*/
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*----Pagina de inicio----*/
/*---- Header---- */
header {
    display: grid;
    width: 100%;
    height: 100vh;
    background: #31699781;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(204, 40%, 44%, 0.459), hsla(182, 45%, 52%, 0.664)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(204, 40%, 44%, 0.459), hsla(187, 44%, 54%, 0.664)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.contenedor-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.header-text h2{
    font-size: 2.5rem;
    margin-bottom: 6px;
    text-transform: uppercase;
}
.header-text p{
    font-size: 1.7rem;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*---- Navbar---- */
.navbar {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    font-size: 1.1rem;
    justify-content: space-between;
    transition: ease-in-out 0.8s;
    width: 100%;
    height: 5rem;
    z-index: 1000;
}
.logo img{
    height: 3rem;
    width: 3rem;
}
.navbar .logo {
    grid-column: 2 / 3;
}
.logo img:hover{
    filter: drop-shadow(2px 2px 4px rgba(0,0,0, 0.18));
}

.navbar .navbar-list__container {
    grid-column: 4/ 13;
}
.navbar-list{
    display: flex;
    justify-content: flex-end;
}
.navbar-list__item{
    list-style-type: none;
}
.navbar-list__item a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-white);
    padding: 0 1rem;
    transition: ease-in-out 0.2s;
}
.navbar-list__item:hover{
    transform: translateY(-1px);
    font-weight: bold;
}
.nav__img {
    display: none;
}
.active{
    font-weight: bold;
}
/*----Main----*/
.contenido {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2,1fr);
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.departamento{
    display: grid;
    grid-row: 1/2;
    grid-column: 2/12;
    gap: 1rem 1rem;
    place-content: center; 
}
.subtitulo{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.contenedor-departamento{
    display: flex;
    justify-content: space-between;
}
.departamento-item{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 2px gray;
    background: #3579b118;
    border-radius: 1em;
    overflow: hidden;
}
.departamento-item h3{
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.departamento-item img{
    border-radius: 10%;
    max-width: 60%;
    height: 60%;
}
.departamento-item ul{
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
/* ----Section slider---- */
.section-slider{
   display: grid;
   grid-template-rows: 2/3;
   grid-column: 1/13;
}
.slider-title{
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin: 0;
}
.swiper {
    width: 95%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 1.5rem;
}
.slider-paragraph{
    font-size: 1.5rem;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
}

/* ----FOOTER---- */
.footer{
    display: grid;
    background: #3579b118;
    padding: 40px 0 30px 0;
    padding-top: 10px;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
}
.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.footer-image img{
    width: 4rem;
    flex-wrap: initial;
}
.footer-image img:hover{
    filter: sepia(90%);
}
.footer-list,.footer-social{
    display: flex;
    padding: 0;
}
.footer-list__item,.footer-social__item{
    list-style-type: none;
}
.footer-list__item{
    font-size: 1.2rem;
    padding: 0 1rem;
}
.footer-social__item{
    font-size: 1.5rem;
    padding: 0 0.5rem;
}
.footer-list__item a,.footer-social__item a{
    text-decoration: none;
    color: var(--color-black);
}
.footer-list__item:hover{
    transform: translateY(-2px);
    font-weight: bold;
}
.bxl-facebook:hover{
    color: #1115e2;
    transform: scale(1.1);
}
.bxl-twitter:hover{
    color: #1DA1F2;
    transform: scale(1.1);
}
.bxl-instagram:hover{
    color: #E1306C;
    transform: scale(1.1);
}
.footer .footer-copyright{
    text-align: center;
    font-size: 70%;
    font-weight: lighter;
    margin-bottom: 0;
    padding-bottom: 1rem;
}

/*-----Pagina Contacto-----*/
/*----Header----*/
.header-contact{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin-bottom: 11rem;
    margin-top: 2rem;
}
.title-contact{
    grid-column: 4/10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.8rem;
    text-transform: uppercase;
}
.title-contact h2{
    text-align: center;
}
.fa-chevron-down{
    color: var(--color-black);
    position: absolute;
    bottom: 1rem;
    left: calc(50% - 1rem);
    cursor: pointer;
}
/* ---FORM--- */
.section-form{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin-bottom: 5rem;
}
.form-container{
    margin-top: 2rem;
    grid-column: 1/13;
    display: flex;
    flex-direction: column;
}
.form-title{
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.form-paragraph{
    font-size: 1.5rem;
    text-align: center;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.supercontainer{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.formulario input,.formulario textarea{
    background: #3579b118;
    border: 1px solid var(--color-white);
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 10px;
    width: 60%;
}
.form-textarea{
    resize: none;
}
.form-buttons{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}
.reset-button,.submit-button{
    background: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 1px solid var(--color-blackr);
    color: var(--color-blackr);
    cursor: pointer;
}
.reset-button:hover,.submit-button:hover{
    transform: scale(1.02);
    background-color: #3579b118;
}
/*-----About-----*/
.header-about{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin-bottom: 11rem;
    margin-top: 1rem;
}
.title-about{
    grid-column: 4/10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.8rem;
    text-transform: uppercase; 
}
.title-about h2{
    text-align: center;
    font-weight: bold;
}
/*----main about----*/
.contenido-about{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin-bottom: 11rem;
    margin-top: 1rem;
    place-content: center;
}
.subtitulo-galeria{
    text-align: center;
    font-weight: bold;
}
.gallery{
    background: #f2f2f2;
    display: grid;
    grid-row: 1/2;
    grid-column: 2/12;
    gap: 1rem 1rem;
    place-content: center;
}
.contenedor-gallery{
    display: flex;
    justify-content: space-between;
}

.img-galeria{
    width: 20%;
    box-shadow: 3px 3px 2px gray;
    background: #3579b118;
    border-radius: 10%;
    width: 300px;
    height: 300px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-left: 3rem;
}

.imagen-light{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.534);
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}
.showImage{
    transform: scale(1);
    width: 600px;
    height: 500px;
}

.show{
    transform: translate(0);
}
/*---section ubacion---*/
.section-ubicacion{
    display: grid;
    grid-column: 2/12;
    grid-row: 2/3;
    place-content: center;
    width: 100%;
    height: 100vh;
}
.title-ubicacion{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.section-ubicacion h6{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.ubicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ubicacion iframe{
    border-radius: 1rem;
    width: 400px;
    height: 400px;
}


/*-----Departamentos-----*/

/* -----MEDIA QUERIES----- */
@media only screen and (max-width: 840px) {
    /*Header*/ 
    .navbar-list__container{
        position: absolute;
        width: 60%;
        height: 100vh;
        background-color: #347fbd;
        top: 0;
        right: -110%;
        z-index: 100;
        transition: all 0.5s linear;
        flex-direction: column;
        justify-content: space-evenly;
        padding-right: 0;
    }
    .navbar-list{
        flex-direction: column;
        padding: 0;
        position: fixed;
        top: 0;
        width: 30vw;
        height: 100%;
        /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c0ee 100%); */
        /* 02 */
        background-image: linear-gradient(to top, #66c0ea 0%, #274e72 100%);
        /* 028 */
        background-image: linear-gradient(135deg, #66c0ea 0%, #274e72 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        right: 0;
        transform: translateX(110%);
        transition:transform 0.3s ease-in-out;
        box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    }
    .navbar-list__item{
        padding: 2rem 0;
    }
    .nav__img{
        display: grid;
        grid-column: 12/13;
        position: fixed;
        top: 30px;
        right: 30px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    }
    .spread{
        transform: translateX(0);
    }
    /*Main*/
    .contenido{
        display: flex;
        flex-direction: column;
    }
    .contenedor-departamento{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .departamento-item{
        display: flex;
        width: 35%;
        margin-bottom: 2rem;
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .agregar-imagen{
        width: 300px;
        height: 300px;
    }
    /*Footer*/
    .footer-list__item{
        padding: 0 0.5rem;
    }
    .footer-list li:last-child{
        padding-right: 0;
    }
    .footer-list li:first-child{
        padding-left: 0;
    }
    /*----Page Contact----*/
    .title-contact{
        margin-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 670px) {
    /*Header*/
    .nav__img{
        display: grid;
        grid-column: 12/13;
        position: fixed;
        top: 30px;
        right: 30px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    }
    .spread{
        transform: translateX(0);
    }
    .navbar-list{
        flex-direction: column;
        padding: 0;
        position: fixed;
        top: 0;
        width: 30vw;
        height: 100%;
        /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c0ee 100%); */
        /* 02 */
        background-image: linear-gradient(to top, #66c0ea 0%, #274e72 100%);
        /* 028 */
        background-image: linear-gradient(135deg, #66c0ea 0%, #274e72 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        right: 0;
        transform: translateX(110%);
        transition:transform 0.3s ease-in-out;
        box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    }
    .contenedor-header{
        flex-direction: column;
        justify-content: center;
    }
    .header-text{
        align-items: center;
        padding-left: 0;
        width: 80%;
    }
    .header-text p{
        margin-top: 0;
        text-align: center;
    }
    /*Main*/
    .contenido{
        display: flex;
        flex-direction: column;
    }
    .contenedor-departamento{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .departamento-item{
        display: flex;
        width: 35%;
        margin-bottom: 2rem;
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
   
    .slider-title{
        padding-top: 0;
    }
    .slider-paragraph{
        width: 40%;
    }
    .agregar-imagen{
        width: 300px;
        height: 300px;
    }
    /*----Page Contact----*/
    .title-contact{
        margin-bottom: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    /*Header*/
    .spread{
        transform: translateX(0);
    }
    .nav__img{
        display: grid;
        grid-column: 12/13;
        position: fixed;
        top: 30px;
        right: 30px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    }
    .navbar-list{
        flex-direction: column;
        padding: 0;
        position: fixed;
        top: 0;
        width: 30vw;
        height: 100%;
        /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c0ee 100%); */
        /* 02 */
        background-image: linear-gradient(to top, #66c0ea 0%, #274e72 100%);
        /* 028 */
        background-image: linear-gradient(135deg, #66c0ea 0%, #274e72 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        right: 0;
        transform: translateX(110%);
        transition:transform 0.3s ease-in-out;
        box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    }
    .spread{
        transform: translateX(0);
    }
    .navbar-list{
        display: flex;
        align-items: flex-start;
    }
    /*Main*/
    .contenido{
        display: flex;
        flex-direction: column;
    }
    .contenedor-departamento{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .departamento-item{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    /* Footer */
    .footer-container{
        flex-direction: column;
    }
    .footer-list{
        flex-direction: column;
        text-align: center;
    }
    .footer-list li:first-child{
        padding: 1rem 0.5rem;
    }
    .footer-list li:last-child {
        padding: 1rem 0.5rem;
    }
    .footer-list__item{
        padding: 1rem 0.5rem;
    }

    .agregar-imagen{
        width: 300px;
        height: 300px;
    }
    /*----Page Contact----*/
    .title-contact{
        margin-bottom: 3rem;
    }
    .footer{
        margin-top: 2rem;
    }
}
@media only screen and (max-width: 500px) {
    /*Header*/
    .spread{
        transform: translateX(0);
    }
    .nav__img{
        display: grid;
        grid-column: 12/13;
        position: fixed;
        top: 30px;
        right: 30px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    }
    .navbar-list{
        flex-direction: column;
        padding: 0;
        position: fixed;
        top: 0;
        width: 30vw;
        height: 100%;
        /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c0ee 100%); */
        /* 02 */
        background-image: linear-gradient(to top, #66c0ea 0%, #274e72 100%);
        /* 028 */
        background-image: linear-gradient(135deg, #66c0ea 0%, #274e72 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        right: 0;
        transform: translateX(110%);
        transition:transform 0.3s ease-in-out;
        box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    }
    .spread{
        transform: translateX(0);
    }
    .navbar-list{
        display: flex;
        align-items: flex-start;
    }
    /*Main*/
    .contenido{
        display: flex;
        flex-direction: column;
    }
    .contenedor-departamento{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .departamento-item{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    /* Footer */
    .footer-container{
        flex-direction: column;
    }
    .footer-list{
        flex-direction: column;
        text-align: center;
    }
    .footer-list li:first-child{
        padding: 1rem 0.5rem;
    }
    .footer-list li:last-child {
        padding: 1rem 0.5rem;
    }
    .footer-list__item{
        padding: 1rem 0.5rem;
    }

    .agregar-imagen{
        width: 300px;
        height: 300px;
    }
    /*----Page Contact----*/
    .title-contact{
        margin-bottom: 3rem;
    }
    .footer{
        margin-top: 2rem;
    }
    .contenedor-gallery{
        display: flex;
        overflow: hidden;
        flex-direction: column;
    }
    .img-galeria{
        width: 20%;
        box-shadow: 3px 3px 2px gray;
        background: #3579b118;
        border-radius: 10%;
        width: 300px;
        height: 300px;
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: 3rem;
        margin-left: 3rem;
        
    }

}